.gradient-custom {
    /* fallback for old browsers */
    background: #4facfe;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(52, 98, 187, 0.5), rgba(32, 9, 75, 0.5));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(52, 98, 187), rgba(32, 9, 75))
  }

  .forecast-bg {
    background-color: rgba(99, 140, 184);
  }

  .border-custom {
    border: 3px solid rgba(32, 9, 75)!important
  }